[Unit]
Description=CProxy service
After=network.target network-online.target ssh.service


[Service]
User=habib
WorkingDirectory=/web/cproxy
# discard the verbose running log
StandardOutput=null
#Restart=always
#RestartSec=20s

ExecStart=/usr/local/bin/cproxy /etc/cproxy.conf

[Install]
WantedBy=multi-user.target
